.criar-vinho {
    display: flex;
}

.img-preview {
    width: 100%;
    height: 400px;
    background-size: cover;
    margin: 20px auto;
    border-radius: 10px;
}

.criar-vinho-list {
    margin: -10px;
    margin-top: 30px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 50%;
}

.criar-vinho-list li {
    height: 200px;
    width: 200px;
    margin: 10px;
    background-size: cover;
    border: 2px solid #723acc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.criar-vinho-list li h2 {
    background: #723acc;
    border-radius: 0px 0px 5px 5px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.x {
    display: none;
    position: absolute;
}

.criar-vinho-list li:hover .x {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10px;
    height: 10px;
    background: red;
    top: 0;
    right: 0;
    border-radius: 0px 5px 0px 5px;
    transition: .4s;
    cursor: pointer;
}

.notify {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
    padding: 40px;
    z-index: 1000;
    position: fixed;
    bottom: 0px;
    width: 100%;
    animation: animaNotify .5s forwards;
}

.sucesso {
    background: green;
}

.erro {
    background: red;
}

@keyframes animaNotify {
    0% {
        opacity: 0;
        transform: translate3d(0px, 30px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes desanimaNotify {
    0% {
        opacity: 1;
    }
    100% {
        display: 0;
    }
}